In [ ]:
[1]What is list? How will you reverse a list?

In [ ]:
#Stored multiple item in a single variable.
list1=[253,-45,67,78]
list1.reverse()
print(list1)

In [ ]:
[2]How will you remove last object from a list?

In [ ]:
list1=[34,23,45,567]
list1.pop()
print(list1)

In [ ]:
[3] Suppose list is [2,33,333,14 and 25],what is list [-1]?

In [ ]:
list1=[2,333,14,25]
list1[-1]

In [ ]:
[4] Difference between append () and extend () methods?

In [ ]:
#Append:
   # Adds elements at the last Index
list1=[1,2,3,10]
list1.append('hemant')
print(list1)

#Extend:
    # Adds Iterable of the last index.
list2=[10,59,55]
list2.extend('hemant')
print(list2)

In [ ]:
[5]Wrie a python function to get the largest number, smallest num and sum of all from a list.

In [ ]:
list1=[5,7,8,9,11,23,55,60]
lsit1.sort()
print('largest number',list1[-1])
print('smallest number',list1[0])

In [ ]:
[6]How will you compare two list?

In [ ]:
list1=[2,3,55,45]
list2=[66,10,45,55]
if list1==list2:
    print('equal')
else:
    print('not equal')

In [ ]:
[7]Write a python program to count the number of string where the string is 2 or more and the first and last character are same 
from given list of string.

In [ ]:
list=['hemant','nitin','sagar','ozo','oyo']
for i in list:
    if len(i)>=2:
        if i[0]==i[-1]:
            print(i)

In [ ]:
[8] Write a python program to remove duplicates from a list.

In [ ]:
list1=[3,4.5,3,7,67,4.5,78,45,6,7,78,8]
s1=set(list1)
print(s1)

In [ ]:
[9]Write a python program to check a list is empty or not

In [ ]:
list1=[]
if len(list1)==0:
    print('empty list')
else:
    print('not empty list')

In [ ]:
[10]Write a python function that takes two lists and returns true if they have atleast one common member.

In [ ]:
lsit1=[1,2,3,4,5,6,]
lsit2=[6,7,3,2,10,11]
ans= False
for i in list1:
    if i in list2:
        continue
    else:
        print(ans)
        break
            
else:
    ans= True
    print(ans)

In [ ]:
[11]Write a python program to generate and print a list of first & last 5 elements where the values are 
square of number between 1 & 30

In [ ]:
list1=[1,2,3,4,5,26,27,28,29,30]
for i in list1:
    a=(i*i)
    print(a)

In [ ]:
[12]Write a python function that takes a list and return a new list with unique element of the first list.

In [ ]:
list1=[6,10,1,2,3,4,5,7,7,7,8,9,9]
list2=set(list1)
x=list(list2)
print(x)

In [ ]:
[13]Write a python program to convert a list of character of into string.

In [ ]:
lsit1=['s','w','a','r','a','j','y','a']
str1= ''
for i in list1:
    str1+=i
print(str1)

In [ ]:
[14]Write a python program to select an item randoms from lsit.

In [ ]:
lsit1=[1,8,9,5,88,90]

In [ ]:
[15]Write a python program to find the second smallest number in a list

In [ ]:
list1=[10,5,15,3,9]
lsit1.sort()
print(lsit1[1])

In [ ]:
[16]Write a program to get unique values form a list.

In [ ]:
list1=[5,6,10,15,18,19,16,17,20]
lsit2=set(list1)
print(list2)

In [ ]:
[17]Write a Python program to check whether a list contains a sub list

In [ ]:
list1=['nitin',{1,2,3,5},[1,4,6,7,7],60,90,0.6]
for i in list1:
    it type(i)==list:
        print(i,'true')
        break
else:
    print('false')

In [ ]:
[18]Write a Python program to split a list into different variables

In [ ]:
list1=[2,4,6,8,10,12,14]
list2=list1[:5]
list3=list1[-5:]
print(list2,list3)

In [ ]:
[19]What is tuple? Difference between list and tuple.

In [ ]:
#Tuple:
    Stored mulitpule items in single variable. Ordered, indexed, immutable, allow duplication values, stored 
    almost all datatypes.
    
#List:
    Stored multiple items in single variable, ordered, mutable,allows duplicate values.

In [ ]:
[20]Write a Python program to create a tuple with different data types.

In [ ]:
tuple1=(10,2,[2,3,5],{6,7,8},{2:3,4:6},'hemant','true',(2,5,9))
print(tuple1)

In [ ]:
[21]Write a Python program to create a tuple with numbers.

In [ ]:
t1=5,6,50,55
print(t1)

In [ ]:
[22]Write a pythong program to convert a tuple to a string.

In [ ]:
t1=('m','o','u','n','t')
str1=''
for i in t1:
    str1+=i
print(str1)

In [ ]:
[23]Write a python program to check whether an element exist within a tupel.

In [ ]:
tuple1=(5,9,10,11,14,18)
print(45 in tuple1)

In [ ]:
[24]Write a python program to find the lenghth of a tuple.

In [ ]:
t1=(10,15,20,25,30,35,40)
len(t1)

In [ ]:
[25]Write a python program to convert a list to a tuple.

In [ ]:
list1 = [1,10,9,8,12,5,4.5]
tuple1=tuple(list1)
print(tuple1)

In [ ]:
[26]Write a Python program to reverse a tuple.

In [ ]:
t1=('a','n','b','z','e')
t2=t1[::-1]
print(t1)
print(t2)

In [ ]:
[27]Write a Python program to replace last value of tuples in a list.

In [ ]:
tuple1=[(5,7,9,8,3,4)]
print([t[:-1]+(20,)for t in tuple1)

In [ ]:
[28]Write a python program to find a repated items of a tuple

In [ ]:
t1=(34,23,34,56,23,45)
t1.count(34)

In [ ]:
[29]Write a Python program to remove an empty tuple(s) from a list of tuples.

In [ ]:
tuple=[('ram',10,9,8),(),(),('nitin','neeta'),(),99,1.5,()]
list1=[]
for in tuple:
    if len(i)!=0:
        list1.append(i)
print(list1)

In [ ]:
[30]Write a Python program to unzip a list of tuples into individual lists.

In [ ]:
a,b,c=(55,88,90)
print(a,b,c)

In [ ]:
[31]Write a Python program to convert a list of tuples into a dictionary.

In [ ]:
tuplee1=[(50,5),(66,6),(70,7)]
list2=dict(tuplee1)
print(list2)

In [ ]:
[32]How will you create a dictionary using tuples in python?

In [ ]:
tuple1=(('a',10),('b',20),('c',30))
dict(tuple1)

In [ ]:
[33]Write a Python script to sort (ascending and descending) a dictionary by value.

In [ ]:
dict1={'a':80,'b':50,'c':40,'d':70}
d1=dict(sorted(dict1.items(),key=lambda a:a[1]))
d2=dict(sorted(dict1.items(),key=lambda a:a[1],reverse=True))
print('ascending',d1,'descending',d2,sep= '\n')

In [ ]:
[34]Write a Python script to concatenate following dictionaries to create a new one.

In [ ]:
dict1={2:3,4:6}
dict2={2:10,6:12}
dict3={}
for d in (dict1,dict2):
    dict3.update(d)
print(dict3)

In [ ]:
[35]Write a Python script to check if a given key already exists in a dictionary

In [ ]:
dict1={'a':5,'b':6,'c':7}
key=input()
if key in dict1.keys():
    print(key,'already exists')
else:
    print(key,'does not exists')

In [ ]:
[36]How Do You Traverse Through A Dictionary Object In Python?

In [ ]:
[37]How Do You Check The Presence Of A Key In A Dictionary?

In [ ]:
dict1={'v':2,'x':5,'z':9,'h':4}
key=input()
if key in dict1.keys():
    print(key,'present')
else:
    print(key,'does not exist')

In [ ]:
[38]Write a Python script to print a dictionary where the keys are numbers between 1 and 15.

In [ ]:
dict1=dict()
for i in range(1,16):
    dict1[i]=None
print(dict1)

In [ ]:
[39]Write a Python program to check multiple keys exists in a dictionary

In [ ]:
[40]Write a Python script to merge two Python dictionaries

In [3]:
dict1={1:2,4:6,8:10}
dict2={2:3,9:10,6:8,1:2}
dict3=dict1.copy()
dict3.update(dict2)
print(dict3)

{1: 2, 4: 6, 8: 10, 2: 3, 9: 10, 6: 8}

In [ ]:
[41]Write a Python program to map two lists into a dictionary

In [4]:
list1=['hemant','pranav','nitin']
list2=[2,3,4,5]
dict1=dict(zip(list1,list2))
print(dict1)

{'hemant': 2, 'pranav': 3, 'nitin': 4}

In [ ]:
[42]Write a Python program to combine two dictionary adding values for common keys.
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200,’d’:400}

In [3]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'c':400}

for key in di2:
    if key in di1:
        di2[key] = di2[key] + di1[key]
print(di2)

NameError: name 'di2' is not defined

In [ ]:
[43]Sample output: Counter ({'a': 400, 'b': 400,’d’: 400, 'c': 300}).

In [ ]:
[44]Write a Python program to print all unique values in a dictionary

In [ ]:
[45]Why Do You Use the Zip () Method in Python?